
// $containerColor: rgb(96, 96, 96);
// $textColor: rgb(255, 255, 255);

.inputContainer {
  // --container-color: rgb(96, 96, 96);
  --container-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--container-color);
  background-color: var(--container-color);
  transition: 300ms all ease-in-out;
  padding: 0;
  padding-inline: 0.35rem;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: fit-content;
  // min-width: 150px;
  width: 100%;
  min-height: 36px;
}

.timeInputMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 94px;
}

.inputContainer input[type="number"] {
  outline: 0;
  border: none;
  background-color: transparent;
  max-width: 20px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2ch;
  color: var(--text-color);
  appearance: textfield;
  -webkit-outer-spin-button,
  -webkit-outer-spin-button,
  -webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: textfield;
  }
}

.inputContainer input[type="number"]:focus {
  outline: 0;
}

.inputContainer.disabled input[type="number"],
.inputContainer.disabled span {
  opacity: 0.5;
}

.inputContainer span {
  font-weight: inherit;
  margin-inline: 0.2rem;
  font-size: 2ch;
  color: var(--text-color);
}

.hourContainer.hh.noValue  {
  max-width: 28px;
}

.hourContainer.hyphen.noValue {
  max-width: 20px;
}

.hourContainer.noZero  {
  max-width: 20px;
}

.minutesContainer.mm.noValue  {
  max-width: 32px;
}

.minutesContainer.hyphen.noValue  {
  max-width: 20px;
}

.minutesContainer.noZero  {
  max-width: 20px;
}

.minutesContainer .withSeconds  {
  width: 9px;
}

.minutesContainer.noZero  {
  max-width: 20px;
}

.secondsContainer.ss.noValue  {
  max-width: 32px;
}

.secondsContainer.hyphen.noValue  {
  max-width: 20px;
}

.secondsContainer.noZero  {
  max-width: 23px;
}

.inputContainer input[type="number"]::-webkit-inner-spin-button,
.inputContainer input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

.inputContainer .timerContainer,
.inputContainer .minutesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

.inputContainer .iconContainer {
  --icon-color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inputContainer .iconContainer svg {
  stroke: var(--icon-color);
  width: 20px;
  height: 20px;
}

.inputContainer.disabled .iconContainer {
  opacity: 0.7;
}

button {
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
  line-height: 1;
}

.clearButton svg {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--text-color);
}

.arrowsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.arrowsContainer button {
  max-height: 1rem;
  display: flex;
}

.arrowsContainer button svg {
  width: 0.8rem;
  height: 0.8rem;
  stroke: var(--text-color);
  stroke-width: 2;
  fill: none;
}

.toggleAmPmContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2ch;
    padding-inline: 0.2rem;
    color: var(--text-color);
}

.toggleAmPmContainer button:disabled {
     opacity: 0.5;
}