.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .button-form {
    padding: 0.5rem;
    background-color: olivedrab;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .input {
    --container-color: rgba(41, 41, 41, 0.521);
    --text-color: olivedrab;
    padding-inline: 0.8rem 0.5rem;
    background-color: var(--container-color);
    color: var(--text-color);
    border-radius: 5px;
    gap: 0.5rem;
    border: 1px solid var(--text-color);
  }

  input[type="text"].input {
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
  }
}
