:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-text-size-adjust: 100%; */
}

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex; */
  /* place-items: center; */
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  width: 100%;
}

.time-inputs-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100vh;
  .time-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .time-input-container p {
    text-align: center;
  }

  .time-input-container .button-reset {
    background-color: #213547;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
  }

  .time-input-container:nth-child(1) {
    border-bottom: 0.5px solid grey;
  }
  .time-input-container:nth-child(2) {
    border-bottom: 0.5px solid grey;
  }
  .time-input-container:nth-child(3) {
    border-bottom: 0.5px solid grey;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
