:root {
  line-height: 1.5;
  /* color-scheme: light dark; */
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: white; */
}

body {
  width: 100%;
}

.time-inputs-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100vh;

  .time-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .time-input-container p {
    text-align: center;
    color: white;
  }

  .time-input-container label {
    color: white;
  }

  .time-input-container .button-reset {
    background-color: #213547;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
  }

  .time-input-container:nth-child(1) {
    border-bottom: 0.5px solid grey;
  }
  .time-input-container:nth-child(2) {
    border-bottom: 0.5px solid grey;
  }
  .time-input-container:nth-child(3) {
    border-bottom: 0.5px solid grey;
  }
}
