@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

.time-input {
  --container-color: rgba(41, 41, 41, 0.521);
  --text-color: olivedrab;

  padding-inline: 0.8rem 0.5rem;
  background-color: var(--container-color);
  color: var(--text-color);
  border-radius: 5px;
  gap: 0.5rem;
  border: 1px solid var(--text-color);
}

.time-input input[type="number"] {
  text-align: center;
  font-size: 0.9rem;
  max-width: 1.5rem;
  font-family: "Orbitron";
  font-style: italic;
  font-weight: bold;
}
